$redPrimary: #68392f;
$borderGray: 1px solid rgba(0,0,0,.2);
$linkHover: #f1e3e0;

.navbar {
  background-color: $redPrimary;
  a {
    color: white;
  }
  a:target{
    color: white;
  }

  a:hover{
    color: $linkHover !important;
  }
  ul:first-child{
    margin-left: 50px;
  }
  ul:last-child{
    margin-right: 50px;
  }

}
.nav-link, .nav-link:focus{
  color: white !important;
}