$blue: #4f141a;
$borderGray: 1px solid rgba(0,0,0,.2);
$yellow: #ffd500;

div.nav{
  width: 100%;
  padding: 0;
  overflow: visible;
  background-color: $blue;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #666;
}

.right{
  position: absolute;
  right: 0;
  margin-top: 10px !important;
  margin-right: 50px !important;
}

div.nav-item {
  margin: 20px 20px 20px 0;
  float: left;
  vertical-align: middle;
  img {
    height: 44px;
  }
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: #f4d6d1;
    text-decoration: none;
  }
}

div.nav-item:first-child{
  margin: 20px;
  padding-left: 100px;
  position: relative;
  padding-top: 3px;
}
