$redPrimary: #4f141a;
$borderGray: 1px solid rgba(0,0,0,.2);
$yellow: #ffd500;

.navbar{
  background-color: $redPrimary;
  a{
    color: white;

  }
  a:hover{
    color: pink !important;
  }
  ul:first-child{
    margin-left: 50px;
  }
  ul:last-child{
    margin-right: 50px;
  }

}