$fontColor: #452600;
$redPrimary: #68392f;

h1{
  color: $fontColor;
}

.list-name{
  text-align: center;
  padding: 100px;
}

.item-in-list{
  border: 1px solid #aaaaaa;
  padding: 15px;
  margin: 10px;
  margin: {
    left: 20px;
    right: 20px;
  }
  position: relative;
  display: flex;

  a{
    display: flex;
    margin-left: 15px;
    align-items: center;
    text-decoration: none;
  }
}

.item-name{
  color: $fontColor;
  font-weight: bold;
  display: inline-block;
}

.del-item-btn{
  display: inline;
  position: absolute;
  right: 5px;
  top: 8px;
}

.add-item-btn{
  display: block;
  font-size: 30px !important;
  color: $fontColor;
  margin: {
    top: 20px;
    left: auto;
    right: auto;

  }
}

.list-icon{
  height: 35px;
  width: 35px;
  background-color: darkblue;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  img{
    height: 25px;
    align-items: center;
    margin: auto;
  }
}



.fa-rotate-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.login-btn{
  margin-top: 20px;
}